<div id="page-title-value" class="hidden">
	Scheduler Configurations
</div>

<section class="animated bounceIn p-5 relative bg-slate-50 min-h-full">
	
	<div th:replace="layouts/fragments/loader :: loader1"></div>
	
	<div class="create-schedulerconfigurations-modal-container hidden">
		<div class="flex flex-col shadow-lg rounded-lg bg-slate-200 border-1">
		  <div class="rounded-t bg-slate-300 text-slate-900 mb-0 px-6 py-3 text-base font-semibold">
		    Create Scheduler Configurations
		  </div>
	      <form name="createSchedulerConfigurationsForm" onsubmit="handleCreateSchedulerConfigurations();return false;" method="POST">
	        
	        <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 m-5">
	        	<div th:replace="layouts/fragments/formElements :: inputField(label='Id', name='id')"></div>
	        	<div th:replace="layouts/fragments/formElements :: toggleButton(label='Enabled', name='enabled', id='enabled')"></div>
	        	<div>
					<div class="text-slate-600 text-sm font-semibold mb-1 ml-1">Status</div>
					<select name="status" class="px-2 py-1.5 rounded text-sm border-0 
						shadow-lg focus:ring w-full">
					  <option value="">ANY</option>
					  <option value="RUNNING">RUNNING</option>
					  <option value="STOPPED">STOPPED</option>
					</select>
				</div>
				<div th:replace="layouts/fragments/formElements :: inputNumberField(label='Thread&nbsp;Count', name='threadCount')"></div>
				<div th:replace="layouts/fragments/formElements :: inputNumberField(label='Retry&nbsp;Count', name='retryCount')"></div>
				<div th:replace="layouts/fragments/formElements :: inputNumberField(label='Batch&nbsp;Size', name='batchSize')"></div>
				<div th:replace="layouts/fragments/formElements :: inputNumberField(label='Restart&nbsp;Seconds', name='restartSeconds')"></div>
				<div th:replace="layouts/fragments/formElements :: inputNumberField(label='Exponential&nbsp;Factor', name='exponentialFactor')"></div>
				<div th:replace="layouts/fragments/formElements :: inputNumberField(label='Next&nbsp;Run&nbsp;Seconds', name='nextRunSeconds')"></div>
				<div th:replace="layouts/fragments/formElements :: toggleButton(label='Debug', name='debug', id='debug')"></div>
	        </div>
	        
	        <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 m-5 mt-10">
	        	<div class="md:hidden lg:flex"></div>
	        	<div th:replace="layouts/fragments/formElements :: buttonPrimaryFull(name='Create')"></div>
	        	<div th:replace="layouts/fragments/formElements :: buttonSecondaryFull(name='Close', function='$(\'#mainPopup\').toggleClass(\'hidden\')')"></div>
	        </div>
	        
	      </form>
		</div>
	</div>
	
	<div class="update-schedulerconfigurations-modal-container hidden">
		<div class="flex flex-col shadow-lg rounded-lg bg-slate-200 border-1">
		  <div class="rounded-t bg-slate-300 text-slate-900 mb-0 px-6 py-3 text-base font-semibold">
		    Update Email Configuration
		  </div>
	      <form name="updateSchedulerConfigurationsForm" onsubmit="handleUpdateSchedulerConfigurations();return false;" method="POST">
	        <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 m-5">
	        	<div th:replace="layouts/fragments/formElements :: inputField(label='Id', name='id')"></div>
	        	<div th:replace="layouts/fragments/formElements :: toggleButton(label='Enabled', name='enabled', id='enabled')"></div>
	        	<div>
					<div class="text-slate-600 text-sm font-semibold mb-1 ml-1">Status</div>
					<select name="status" class="px-2 py-1.5 rounded text-sm border-0 
						shadow-lg focus:ring w-full">
					  <option value="">ANY</option>
					  <option value="RUNNING">RUNNING</option>
					  <option value="STOPPED">STOPPED</option>
					</select>
				</div>
				<div th:replace="layouts/fragments/formElements :: inputNumberField(label='Thread&nbsp;Count', name='threadCount')"></div>
				<div th:replace="layouts/fragments/formElements :: inputNumberField(label='Retry&nbsp;Count', name='retryCount')"></div>
				<div th:replace="layouts/fragments/formElements :: inputNumberField(label='Batch&nbsp;Size', name='batchSize')"></div>
				<div th:replace="layouts/fragments/formElements :: inputNumberField(label='Restart&nbsp;Seconds', name='restartSeconds')"></div>
				<div th:replace="layouts/fragments/formElements :: inputNumberField(label='Exponential&nbsp;Factor', name='exponentialFactor')"></div>
				<div th:replace="layouts/fragments/formElements :: inputNumberField(label='Next&nbsp;Run&nbsp;Seconds', name='nextRunSeconds')"></div>
				<div th:replace="layouts/fragments/formElements :: toggleButton(label='Debug', name='debug', id='debug')"></div>
				<div th:replace="layouts/fragments/formElements :: inputDateTimeField(label='Last&nbsp;Successful&nbsp;StartAt', name='lastSuccessfulStartAt')"></div>
				<div th:replace="layouts/fragments/formElements :: inputDateTimeField(label='Last&nbsp;Successful&nbsp;EndAt', name='lastSuccessfulEndAt')"></div>
	        </div>
	        
	        <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 m-5 mt-10">
	        	<div class="md:hidden lg:flex"></div>
	        	<div th:replace="layouts/fragments/formElements :: buttonPrimaryFull(name='Update')"></div>
	        	<div th:replace="layouts/fragments/formElements :: buttonSecondaryFull(name='Close', function='$(\'#mainPopup\').toggleClass(\'hidden\')')"></div>
	        </div>
	        
	      </form>
		</div>
	</div>
	
	<div class="flex flex-col min-w-0 w-full mb-6 shadow-lg rounded-lg bg-slate-200 border-1">
	  <div class="rounded-t bg-slate-300 text-slate-900 mb-0 px-6 py-3 text-base font-semibold">
	    Scheduler Configurations
	  </div>
      <form name="searchSchedulerConfigurationsForm" onsubmit="handleSearchSchedulerConfigurations();return false;" method="POST">
        
        <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 m-5">
        	<div th:replace="layouts/fragments/formElements :: inputField(label='Id', name='id')"></div>
			<div th:replace="layouts/fragments/formElements :: selectBooleanField(label='Enabled', name='enabled')"></div>
			<div>
				<div class="text-slate-600 text-sm font-semibold mb-1 ml-1">Status</div>
				<select name="status" class="px-2 py-1.5 rounded text-sm border-0 
					shadow-lg focus:ring w-full">
				  <option value="">ANY</option>
				  <option value="RUNNING">RUNNING</option>
				  <option value="STOPPED">STOPPED</option>
				</select>
			</div>
			<div th:replace="layouts/fragments/formElements :: inputNumberField(label='Thread&nbsp;Count', name='threadCount')"></div>
			<div th:replace="layouts/fragments/formElements :: inputNumberField(label='Retry&nbsp;Count', name='retryCount')"></div>
			<div th:replace="layouts/fragments/formElements :: inputNumberField(label='Batch&nbsp;Size', name='batchSize')"></div>
			<div th:replace="layouts/fragments/formElements :: inputNumberField(label='Restart&nbsp;Seconds', name='restartSeconds')"></div>
			<div th:replace="layouts/fragments/formElements :: inputNumberField(label='Exponential&nbsp;Factor', name='exponentialFactor')"></div>
			<div th:replace="layouts/fragments/formElements :: inputNumberField(label='Next&nbsp;Run&nbsp;Seconds', name='nextRunSeconds')"></div>
        </div>
        
        <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 m-5 mt-10">
        	<div></div>
        	<div th:replace="layouts/fragments/formElements :: buttonPrimaryFull(name='Search')"></div>
        	<div th:replace="layouts/fragments/formElements :: buttonSecondaryFull(name='Download CSV', function='handleDownloadSchedulerConfigurations()')"></div>
        	<div th:replace="layouts/fragments/formElements :: buttonGreenFull(name='Add New', function='createSchedulerConfigurations()')"></div>
        </div>
        
      </form>
	</div>
	
	<div id="schedulerConfigurationsTableSection" class="flex flex-col min-w-0 w-full mb-6 shadow-lg rounded-lg bg-slate-200 border-1 hidden">
		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 m-5 mt-10 overflow-x-auto">
			<table class="table table-auto border-collapse border border-slate-400">
				<thead>
					<tr>
						<th><input type="checkbox" class="cursor-pointer" id="selectAll" onclick="$('td input:checkbox',$(this).closest('table')).prop('checked',this.checked);" /></th>
						<th>Action</th>
						<th>ID</th>
						<th>Enabled</th>
						<th>Status</th>
						<th>Thread Count</th>
						<th>Retry Count</th>
						<th>Batch Size</th>
						<th>Restart Seconds</th>
						<th>Exponential Factor</th>
						<th>Next Run in Seconds</th>
						<th>debug	</th>
						<th>Last Start At</th>
						<th>Last End At</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
		
		<div class="flex items-center justify-center flex-row mb-3 mx-6">
		
			<div class="mr-auto">
				<div class="text-slate-600 text-sm font-semibold mb-1 ml-1">Page Size</div>
				<select name="pageSize" id="pageSize" onchange="$('#pageNo').text(1);handleSearchSchedulerConfigurations();" 
					class="px-2 py-1.5 rounded text-sm border-0 shadow-lg focus:ring w-16">
				  <option value="10">10</option>
				  <option value="25">25</option>
				  <option value="50">50</option>
				  <option value="100">100</option>
				  <option value="250">250</option>
				</select>
			</div>
			
			<div></div>
			
			<div class="text-slate-600 text-sm font-semibold mr-3">
				showing <span id="startIndex"></span> to <span id="endIndex"></span> of <span id="totalCount"></span> entries
			</div>
					
			<div id="pagiation" class="flex flex-row">
				<button id="pag-first" type="button" class="bg-secondary-500 hover:bg-secondary-400 text-white text-md font-bold py-2 px-4 border-b-4 
					border-secondary-700 hover:border-secondary-500 rounded-lg mx-0.5" onclick="$('#pageNo').text($(this).text());handleSearchSchedulerConfigurations();">
					<i class="fas fa-angle-double-left"></i>
					<span id="pag-first-value" class="hidden">1</span>
				</button>
				<button id="prev-2" type="button" class="bg-secondary-500 hover:bg-secondary-400 text-white text-md font-bold py-2 px-4 border-b-4 
					border-secondary-700 hover:border-secondary-500 rounded-lg mx-0.5 hidden" onclick="$('#pageNo').text($(this).text());handleSearchSchedulerConfigurations();">-</button>
				<button id="prev-1" type="button" class="bg-secondary-500 hover:bg-secondary-400 text-white text-md font-bold py-2 px-4 border-b-4 
					border-secondary-700 hover:border-secondary-500 rounded-lg mx-0.5 hidden" onclick="$('#pageNo').text($(this).text());handleSearchSchedulerConfigurations();">-</button>
				<button id="pageNo" type="button" class="bg-primary-500 hover:bg-primary-400 text-white text-md font-bold py-2 px-4 border-b-4 
					border-primary-700 hover:border-primary-500 rounded-lg mx-0.5 shadow-none" onclick="function a() {}">1</button>
				<button id="next-1" type="button" class="bg-secondary-500 hover:bg-secondary-400 text-white text-md font-bold py-2 px-4 border-b-4 
					border-secondary-700 hover:border-secondary-500 rounded-lg mx-0.5 hidden " onclick="$('#pageNo').text($(this).text());handleSearchSchedulerConfigurations();">-</button>
				<button id="next-2" type="button" class="bg-secondary-500 hover:bg-secondary-400 text-white text-md font-bold py-2 px-4 border-b-4 
					border-secondary-700 hover:border-secondary-500 rounded-lg mx-0.5 hidden" onclick="$('#pageNo').text($(this).text());handleSearchSchedulerConfigurations();">-</button>
				<button id="pag-last" type="button" class="bg-secondary-500 hover:bg-secondary-400 text-white text-md font-bold py-2 px-4 border-b-4 
					border-secondary-700 hover:border-secondary-500 rounded-lg mx-0.5" onclick="$('#pageNo').text($(this).find('#pag-last-value').text());handleSearchSchedulerConfigurations();">
					<i class="fas fa-angle-double-right"></i>
					<span id="pag-last-value" class="hidden">1</span>
				</button>
			</div>
			
		</div>
	</div>
</section>