<div id="page-title-value" class="hidden">
	Change Password
</div>

<section class="animated bounceInTop py-12 lg:py-6 w-full md:w-1/2 lg:w-1/3">

	<div th:replace="layouts/fragments/loader :: loader"></div>
	
	<div id="invalidToken" class="hidden rounded shadow-lg p-5 m-20 bg-white text-center">
		<i class="fas fa-5x fa-times-circle text-red-600 my-3"></i>
		<div class="text-lg my-3">Invalid Token</div>
		<div th:replace="layouts/fragments/formElements :: buttonSecondaryFull(name='Back', function='loadPage(\'/public/login\')')"></div>
	</div>
	
	<div id="validToken" class="hidden">
	
		<div class="text-center mb-8">
			<div class="flex justify-center items-center my-2 text-lg font-semibold">
				Welcome back..&nbsp;<span id="loginFirstName"></span>
			</div>
			<p class="text-base m-0">Enter your new password to continue</p>
			<br>
		</div>
	
		<div class="rounded shadow-lg p-5 m-5 bg-slate-200">
			<div class="text-center flex justify-center items-center">
				<img id="loginAvatar" class="flex justify-center items-center rounded-full absolute m-0 mb-10 ring-1 ring-primary h-28" src="img/profileAvatars/Male-1.jpg"></img>
			</div>
			
			<form id="changePasswordForm" class="mt-10" name="changePasswordForm" onsubmit="handleChangePassword();return false;" method="POST">
				<div class="grid gap-3 grid-cols-1 m-5">
					<div th:replace="layouts/fragments/formElements :: inputPasswordField(label='Password', name='newPassword')"></div>
					<div th:replace="layouts/fragments/formElements :: inputPasswordField(label='Confirm&nbsp;Password', name='confirmPassword')"></div>
					<div class="mt-2">
						<div th:replace="layouts/fragments/formElements :: buttonPrimaryFull(name='Submit')"></div>
					</div>
					<div th:replace="layouts/fragments/formElements :: buttonSecondaryFull(name='Back', function='loadPage(\'/public/login\')')"></div>
					
					<div class="rounded shadow-lg p-5 bg-slate-100">
						<b>Password Policy</b><br/>
						- Minimum of 8 characters<br/>
						- Atleast one upper and lower case alphabets<br/>
						- Atleast one numeric<br/>
						- Atleast one special character (*,@,#,$,&,_,-)<br/>
					</div>		
				</div>
			</form>	
		</div>
	</div>
	
	
	
</section>
