<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	<div th:fragment="footer">
	
		<footer>
			<div class="bg-primary-500 text-white shadow-2xl p-2 mt-1 px-10 text-center flex items-center justify-center">
				<div class="text-sm font-semibold">
	    			<span id="copyright"> 
	    				<script>
	    					$('#copyright').html('Copyright Goli © ' + new Date().getFullYear())
	    				</script>
	    			</span>
				</div>
			</div>
		</footer>

	</div>
</body>
</html>