<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	<div th:fragment="loader">
	
		<div id="loader">
			<div id="loader-big" class="flex justify-center items-center">
				<div id="loader-small" class="flex justify-center items-center"></div>
			</div>
		</div>

	</div>
	<div th:fragment="loader1">
	
		<div id="loader1">
			<div id="loader-big" class="flex justify-center items-center">
				<div id="loader-small" class="flex justify-center items-center"></div>
			</div>
		</div>

	</div>
	<div th:fragment="loader2">
	
		<div id="loader2">
			<div id="loader-big" class="flex justify-center items-center">
				<div id="loader-small" class="flex justify-center items-center"></div>
			</div>
		</div>

	</div>
	<div th:fragment="loader3">
	
		<div id="loader3">
			<div id="loader-big" class="flex justify-center items-center">
				<div id="loader-small" class="flex justify-center items-center"></div>
			</div>
		</div>

	</div>
	<div th:fragment="loader4">
	
		<div id="loader4">
			<div id="loader-big" class="flex justify-center items-center">
				<div id="loader-small" class="flex justify-center items-center"></div>
			</div>
		</div>

	</div>
	<div th:fragment="loader5">
	
		<div id="loader5">
			<div id="loader-big" class="flex justify-center items-center">
				<div id="loader-small" class="flex justify-center items-center"></div>
			</div>
		</div>

	</div>
</body>
</html>